<%- include('partials/header') -%>
  <div class="container">
    <!-- search bar -->
    <nav class="navbar navbar-light bg-light d-flex justify-content-end"> 
      <form class="form-inline d-flex justify-content-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="row justify-content-center mt-5 col-2 ">
      <a class="btn btn-primary" href="/profile">Profile</a>
    </div> 
    <h1>Feed/Landing Page</h1>
    <div class="row justify-content-center mt-5 border border-dark col-12">
      <ul class="row list-unstyled col-6 d-flex justify-content-center">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-12 d-flex justify-content-center mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <i class="fa-solid fa-fire-flame-curved fa-2xl mt-3 
          d-flex justify-content-end align-items-end"></i>
          </li>
          <i class="fa-solid fa-fire-flame-curved fa-2xl mt-3 
          d-flex justify-content-end"></i>
          
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>